/* RESET */
@font-face {
    font-family: Poppins;
    src: url(../css/Poppins.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    background-color: #f6f8f9;
}

/* COMMON */
.container {
    width: 60%;
    margin: 0 auto;
    background-color: gray;
}

.mb-1 {
    margin-bottom: 1em;
}

.mb-2 {
    margin-bottom: 2em;
}

/* HEADER */
.header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
}

div.header-logo {
    margin-left: 3%;
    display: inline-block;
    background-color: white;
}

#logo-image {
    height: 50px;
    vertical-align: middle;
    background-color: white;
}

#logo-text {
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
    background-color: white;
}

/* MAIN */

/* BUTTON */
div.button-container {
    background-color: white;
    margin-top: 3em;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    border-radius: 4px;

}

#button-1 {
    background-color: #47adf1;
    border-style: none;
    border-radius: 3px;
    padding: 5px 9px;
    color: white;
    font-size: 10px;
    font-weight: lighter;

}

#button-2 {
    background-color: white;
    border-width: 1px;
    border-radius: 3px;
    border-color: lightgray;
    padding: 5px 11px;
    color: lightgray;
    font-size: 10px;
    font-weight: lighter;
}

/* LIST */
div.list-container {
    background-color: white;
    margin-top: 2px;
    padding-top: 1%;
    padding-left: 5%;
    padding-bottom: 1%;
    border-radius: 4px;

}

.remove-icons-and-color {
    background-color: white;
    color: #585c64;
    list-style: none;
}

.li-titles-edit {
    font-size: 20px;
    font-weight: bold;
}

.li-content-edit {
    font-size: 12px;
    font-weight: lighter;
}

.check-edit, .cross-edit {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2em;
    text-align: center;
}

.check-edit {
    border: 1px solid green;
    color: green;
}

.cross-edit {
    border: 1px solid red;
    color: red;
}


